.todo{
    align-items: center;
    margin: 10px 0;
}

.todo-left{
    align-items: center;
}

.todo__button{
    background-color: white;
    border: none;
    margin-right: 4px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.todo__title{
    background-color: white;
    border: none;
    margin-right: 4px;
    border-radius: 5px;
    /* height: 30px; */
    padding: 4px;
    padding-right: 70px;
}
.todo__button_none{
    background-color:  transparent !important;
}
.todo-left{
    margin-right: 50px;
}