.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 8vmin;
}

.App-header {
  background-color: #fff8e1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #001743;
}

.App-link {
  color: #206dfa;
}


.flex{
  display: flex;
}

.m-0{
  margin: 0;
}

.todo-parent{
  border: 1px solid blue;
  padding: 0 3px;
  background-color: #c3d8ff;
  border-radius: 4px;

}

.mt-7{
  margin-top: 7px;
}

.btn{
  cursor: pointer;
  box-shadow: none;
  border: none;
  padding: 3px 6px;
  margin-top: 4px;
  border-radius: 3px;
  letter-spacing: 0;
  background-size: 150%;
  background-position-x: 25%;
  position: relative;
  overflow: hidden;
  color: #fff;
  -webkit-appearance: none;
  background-color: #1a73e8;
  box-shadow: 0 3px 3px 0 rgba(26,115,232,.15),0 3px 1px -2px rgba(26,115,232,.2),0 1px 5px 0 rgba(26,115,232,.15);
}